Source: rkwifibt-dkms
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               dh-sequence-dkms,
               lintian,
               dh-exec,
               pandoc,
               dos2unix,

Package: rkwifibt-infineon-dkms
Architecture: all
Section: admin
Priority: optional
Depends: rkwifibt-firmware (= ${binary:Version}),
         ${misc:Depends},
Description: DKMS package for Rockchip WiFi/BT drivers
 This package provides Dynamic Kernel Module Support (DKMS) for
 Infineon CYW43455 wireless chipset support.

Package: rkwifibt-bcmdhd-dkms
Architecture: all
Section: admin
Priority: optional
Depends: ${misc:Depends},
Description: DKMS package for Rockchip WiFi/BT drivers
 This package provides Dynamic Kernel Module Support (DKMS) for
 Broadcom ap6256 wireless chipset support.

Package: rkwifibt-firmware
Architecture: all
Section: misc
Priority: optional
Depends: ${misc:Depends},
Description: Rockchip WiFi/BT supplemental firmware
 This package contains Rockchip WiFi/BT Infineon CYW43455 firmware that are not
 shipped by Debian.
